.themeContainer {
  background-color: #f5f5f5;
  padding: 2rem;
}

.userDashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-width: 90vw;
  display: block;
  margin: auto;
  min-height: 81vh;

  margin-top: 9vh;

  font-family: "DM Sans", sans-serif;
}

.userProfileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  border-radius: 10px;

  padding: 2rem;
  margin-bottom: 1rem;
}

.userProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.userProfile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userName {
  font-size: 1.5rem;
  font-weight: 500;
}

.userEmail {
  font-size: 1rem;
  font-weight: 400;
  color: #6b7280;
}

.userPhone {
  font-size: 1rem;
  font-weight: 400;
  color: #6b7280;
}

.adminHeading {
  font-size: 1.5rem;
  font-weight: 500;
}

.adminName {
  font-size: 1rem;
  font-weight: 400;
  color: #6b7280;
}

.adminEmail {
  font-size: 1rem;
  font-weight: 400;
  color: #6b7280;
}

.userLocationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: #f9fafb;
  border-radius: 10px;

  padding: 3rem 0;

  margin-bottom: 1rem;
}

.userLocation {
  text-align: center;
}

.lastUpdated {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: #6b7280;
}

.locationHeading {
  font-size: 1.2rem;
  font-weight: 500;
  color: #1f2937;
}

.updateLocationButton {
  background-color: #2563eb;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.notificationsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 1rem);

  margin-bottom: 1rem;
}

.notificationsHeading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f2937;
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  background-color: #f9fafb;
}
