nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 5vh;
}

.navbarContainer {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarHeaderText {
  font-family: "DM Sans", sans-serif;

  font-size: 2rem;
  font-weight: 900;
  color: #1d1d1d;
}

.signUpButton {
  background-color: #000000;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  column-gap: 1rem;
}

.welcomeText {
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #1d1d1d;
}

@media (max-width: 720px) {
  .welcomeText {
    display: none;
  }
}
