.adminDashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex;
    justify-content: center;
    padding: 1rem;

    background-color: #f5f5f5;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.nearbyStudentContainer {
    background-color: #fff;
    border-radius: 10px;
    max-height: 90vh;
    min-height: 90vh;
    height: 100%;
    margin-bottom: 1rem;
    max-width: 21rem;
    width: 100%;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nearbyHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.nearByStudents {
    font-size: 1.5rem;
    font-weight: 500;
}

.nearbyFilter {
    font-size: 1rem;
    color: #6b7280;
}

.searchBar {
    margin-bottom: 1rem;
}

.searchInput {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.nearbyStudent {
    border-bottom: 1px solid #e5e7eb;
    padding: 1rem 0;
}

.nearbyStudentData {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    max-width: 20rem;
}

.nearbyStudentImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.nearbyStudentDetails {
    flex: 1;
    margin-right: 1rem;
}

.nearbyStudentName {
    font-size: 1rem;
    font-weight: 500;
}

.nearbyStudentLocation,
.nearbyStudentPhone {
    font-size: 0.9rem;
    color: #6b7280;
}

.alertButton {
    background-color: #fff;
    color: #dc2626;
    border: 1px solid #dc2626;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.studentLocationData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studentLocation {
    font-size: 0.9rem;
    color: #6b7280;
}

.studentLocationValue {
    font-size: 0.9rem;
    font-weight: 500;
}

.mapContainer {
    max-height: 100vh;
    height: calc(100vh - 6rem);
    max-width: 80rem;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

@media screen and (min-width: 900px) {
    .mapContainer {
        max-width: 30rem;
    }
}

@media screen and (max-width: 900px) {
    .nearbyStudentContainer {
        max-width: 35rem;
    }
}

@media screen and (min-width: 1024px) {
    .mapContainer {
        max-width: 55vw;
    }
}

@media screen and (min-width: 1440px) {
    .mapContainer {
        max-width: 70vw;
    }
}

@media screen and (min-width: 1600px) {
    .mapContainer {
        max-width: 75vw;
    }
}
